[data]
database = database.sqlite

[lemmy]
instance = https://your.instance.com
community = your_community
username = your_username
password = your_password

[options]
# Enable debug logging, default false
debug = false
# Types of shows to auto-discover. possible options from AniList api include:
# TV, TV_SHORT, MOVIE, SPECIAL, OVA, ONA, MUSIC
# default: tv ona
# options are: tv tv_short movie special ova ona music
new_show_types = tv ona
# Two letter code for countries to include shows from. e.g. JP CN. Default is JP
# See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 for full list
countries = JP
# Number of requests per minute to allow, AniList has a hard cap of 90, default 60
ratelimit = 60
# Whether to actually submit posts or not, default true
submit = true
# Option to have either the cover or banner image (if available) be the submitted link
# Options are banner, cover, none (default)
submit_image = none
# Option to overwrite previous post urls to match current config options when editing
# older posts. So, if old posts used cover image as post link, but then the config
# changes to using banner, should the old posts get changed as well
# default of false
overwrite_url = false
# Number of days to look ahead for upcoming episodes, default of 7 if unspecified
days = 7
# Number of days to retain episodes that aired, but no thread was made, default of 30
episode_retention = 30
# Enable or disable discovery of new shows, default false
show_discovery = false
# Enable or disable discovery of nsfw shows
nsfw_discovery = false
# Should discovered shows be set to be enabled? Default false
discovery_enabled = false
# Minimum number of upvotes needed to keep a dedicated discussion post, default of 1
# Setting this to <= 1 will disable this requirement since there is always >= 1 upvote
min_upvotes = 1
# Minimum number of comments needed to keep a dedicated discussion post, default of 0
# Setting this to <= 0 will disable this requirement since there can't be fewer than 0
# comments
min_comments = 0
# Number of hours that need to have elapsed before engagement on previous episode is 
# considered, default of 24
engagement_lag = 24
# Should shows that don't meet engagement threshold be disabled instead of put into a
# megathread? default of false
disable_inactive = false

[post]
title = {show_name} - Episode {episode} discussion
title_with_en = {show_name} • {show_name_en} - Episode {episode} discussion

movie_title = {show_name} - Movie Discussion
movie_title_with_en = {show_name} • {show_name_en} - Movie Discussion

format_spoiler =
    ---
    **Reminder:** Please do not discuss plot points not yet seen or skipped in the show. Failing to follow the rules may result in a ban.
format_link = * [{site_name}]({link})
format_discussion_header = Episode|Link
format_discussion_align = :-:|:-:
format_discussion = {episode}|[Link]({link})
format_discussion_none = *No discussions yet!*
format_aliases = 
    ::: spoiler Alternative Names
    *{aliases}*
    :::
format_links = 
    ---
    ::: spoiler Additional Links
    {external_links}
    :::

post_body = 
    *{show_name}*, episode {episode}

    {banner}

    {aliases}

    {links}
    
    {spoiler}
    
    ---
    
    **All discussions**
    
    {discussions}
    
    ---
    
    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

movie_post_body = 
    *{show_name}* - Movie Discussion

    {banner}

    {aliases}

    {links}
    
    {spoiler}
    
    ---
    
    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

user_thread_comment = 
    *{show_name}* - episode {episode}

    {links}

    ---

    **All discussions**

    {discussions}

    ---

    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

[summary]
# Number of days to look backward to include recently created threads in summary posts
# default of 8
summary_days = 8
# Should the summary post be pinned to the community (requires being a moderator)
# default of false
pin_summary = true

summary_title = Latest Episode Discussion Threads Index

summary_body =
    The most recent episode discussion threads created by the bot are located in the
    table below. This table will be automatically updated by the bot as new episode
    discussion threads are created.

    | Show Name | English Show Name | Most Recent Discussion |
    | --------- | ----------------- | :--------------------: |
    {latest_episodes}

    ---

    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

[megathread]
# Maximum number of episodes to include in one megathread before creating a new one
megathread_episodes = 12
megathread_title = {show_name} - Megathread {megathread_number}
megathread_title_with_en = {show_name} • {show_name_en} - Megathread {megathread_number}

megathread_body =
    *{show_name}* Megathread {megathread_number}

    {banner}

    {aliases}

    {links}

    ---

    Scroll through the comments carefully. Each episode in this megathread has a 
    top-level comment created by the bot. Please keep discussion for that episode
    contained within replies to the appropriate comment by the bot.

    To best avoid spoilers, scroll slowly and collapse the bot comment chain if it
    pertains to an episode you have yet to watch.

    {spoiler}

    ---

    **All discussions**

    {discussions}

    ---

    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

megathread_comment =
    *{show_name}*, episode {episode}

    ---

    Please keep discussions about this episode contained within replies to this comment 
    and avoid creating top level comments in the megathread that may spoil other
    visitors to this megathread.

    {spoiler}