[data]
database = database.sqlite

[lemmy]
instance = https://your.instance.com
community = your_community
username = your_username
password = your_password

[options]
# Enable debug logging, default false
debug = false
# Types of shows to auto-discover. possible options from AniList api include:
# TV, TV_SHORT, MOVIE, SPECIAL, OVA, ONA, MUSIC
# default of tv ona
new_show_types = tv tv_short movie special ova ona music
# Two letter code for countries to include shows from. e.g. JP CN. Default is JP
# See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 for full list
countries = JP
# Number of requests per minute to allow, AniList has a hard cap of 90, default 60
ratelimit = 60
# Whether to actually submit posts or not, default true
submit = true
# Number of days to look ahead for upcoming episodes, default of 7 if unspecified
days = 10
# Enable or disable discovery of new shows, default false
show_discovery = true
# Minimum number of upvotes needed to keep a dedicated discussion post, default of 1
# Setting this to <= 1 will disable this requirement since there is always >= 1 upvote
min_upvotes = 1
# Minimum number of comments needed to keep a dedicated discussion post, default of 0
# Setting this to <= 0 will disable this requirement since there can't be fewer than 0
# comments
min_comments = 1

[post]
title = {show_name} - Episode {episode} discussion
title_with_en = {show_name} • {show_name_en} - Episode {episode} discussion

format_spoiler =
    ---
    **Reminder:** Please do not discuss plot points not yet seen or skipped in the show. Failing to follow the rules may result in a ban.
format_link = * [{site_name}]({link})
format_discussion_header = Episode|Link
format_discussion_align = :-:|:-:
format_discussion = {episode}|[Link]({link})
format_discussion_none = *No discussions yet!*
format_aliases = 
    ::: spoiler Alternative Names
    *{aliases}*
    :::

post_body = 
    *{show_name}*, episode {episode}

    {aliases}

    ---
    
    {spoiler}
    
    ---
    
    **All discussions**
    
    {discussions}
    
    ---
    
    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

[megathread]
# Maximum number of episodes to include in one megathread before creating a new one
megathread_episodes = 12
megathread_title = {show_name} - Megathread {megathread_number}
megathread_title_with_en = {show_name} • {show_name_en} - Megathread {megathread_number}

megathread_body =
    *{show_name}* Megathread {megathread_number}

    {aliases}

    ---

    Scroll through the comments carefully. Each episode in this megathread has a 
    top-level comment created by the bot. Please keep discussion for that episode
    contained within replies to the appropriate comment by the bot.

    To best avoid spoilers, scroll slowly and collapse the bot comment chain if it
    pertains to an episode you have yet to watch.

    {spoiler}

    ---

    **All discussions**

    {discussions}

    ---

    *This post was created by a bot. Message the mod team for feedback and comments.*
    *The original source code can be found on [GitHub](https://github.com/wjs018/rikka).*

megathread_comment =
    *{show_name}*, episode {episode}

    ---

    Please keep discussions about this episode contained within replies to this comment 
    and avoid creating top level comments in the megathread that may spoil other
    visitors to this megathread.

    {spoiler}